
.p{
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(245, 245, 245);
}

.thumbnail{
   width: 100%; 
   /* width: 300px;  */
   display: block;
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

/* .search-bar{
    display: block;
} #SEACH BAR is in div so no need of this style*/ 

/*.video-preview{
    width: 300px;  
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}*/

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

/* .channel-picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}    
.channel-picture{
    background-color: grey;
}
.video-info{
    background-color: grey;
}

.video-info{
    display: inline-block;
    width: 200px;
} */

.profile-picture{
    width: 36px;
    border-radius: 50px;
}

.video-title{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 10px;
}

.video-author,.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
}

.video-grid{
    font-family: Roboto, Arial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 30px;
}

.video-time{
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding: 4px;
    border-radius: 2px;
}


/* --- HEADER SECTION --- */

.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);

    z-index: 100;
}

.left-section{
    width: 150px;
    display: flex;
    align-items: center;
}

.middle-section{
    flex: 1;
    margin-left: 30px;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    width: 0;
}

.search-bar{
    flex: 1;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    /* border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192); */
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.right-section{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo{
    height: 20px;
}

.search-button{
    height: 38px;
    width: 66px;
    color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;

    
}

.search-button, .voice-search-button, .upload-icon-container
.youtube-apps-icon-container, .notifications-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tooltip, .voice-search-button .tooltip,
.upload-icon-container .tooltip, 
.youtube-apps-icon-container .tooltip, 
.notifications-icon-container .tooltip{
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip, .voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip, 
.youtube-apps-icon-container:hover .tooltip, 
.notifications-icon-container:hover .tooltip{
    opacity: 1;
}

.voice-search-button{
    height: 40px;
    width:    40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
}

.search-icon{
    height: 25px;
    border-radius: 16px;
}

.voice-search-icon{
    height: 24px;
}

.upload-icon{
    height: 24px;
}

.youtube-apps-icon{
    height: 24px;
}

.notifications-icon{
    height: 24px;
}

.unnamed-icon{
    height: 32px;
    border-radius: 12px;
}


/* --- SIDEBAR   SECTION --- */

.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
    cursor: pointer;
}

.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}